* {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
}

p {
  margin: 0;
}

section p {
  margin: 10px;
}

ul {
  text-decoration: none;
}

#about-me-div {
  color: white;
  width: auto;
  background-image: url(/images/vladboxing.jpg);
  background-size: cover;
}

/* Added a custom background color to navbar to reflect on my character */
.supreme-nav {
  background-color: rgb(93, 17, 116);
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
}

/* Style the links inside the navigation bar */
.supreme-nav a {
  float: right;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.supreme-nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.supreme-nav a.active {
  background-color: #04aa6d;
  color: white;
}

.profile-image {
  vertical-align: right;
  width: 150px;
  height: 150px;
  border-radius: 30px;
}

#contact-div {
  width: 30%;
}

/* Added parent-child action for the section of HTML in which the projects that have been made can be found. */
#work-portfolio {
  background-color: rgb(17, 3, 12);
  width: auto;
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  border: 2px solid greenyellow;
}

#main-work {
  overflow-y: hidden;
  height: 600px;
  width: 600px;
  align-items: center;
}
#secondary-work {
  width: 220px;
  flex-grow: 0.5;
}
#tertiary-work {
  width: 220px;
  flex-grow: 0.5;
}

/* .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 100px;
} */

/* .pre {
  margin: auto;
  padding: auto;
  border: auto;
} */

/* #cv-format {
  width: 50%;
  margin: auto;
  padding: auto;
  border: auto;
} */
